# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Native builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Temporary files
tmp/
cache/
*reports/
*exports/